<h3>Proyectos</h3>
<p>Titulo: Portfolio Argentina programa</p>
<p>Proyecto: https://github.com/DarioJavierCamacho/Portfolio-frontend.git</p>
<p>Fecha de inicio: 10-02-2022</p>
<p>Fecha de finalizacion: 30-10-2022</p>

<p>Titulo: Backend Portfolio Dario Camacho</p>
<p>Proyecto: https://github.com/DarioJavierCamacho/Portfolio-Backend.git</p>
<p>Fecha de inicio: 10-02-2022</p>
<p>Fecha de finalizacion: 30-10-2022</p>

<p>Titulo: Challenge clone burger king (4hs)</p>
<p>Proyecto: https://github.com/DarioJavierCamacho/BootstrapChallenge.git</p>
<p>Fecha de inicio: 09-02-2023</p>
<p>Fecha de finalizacion: 09-02-2023</p>

<p>Titulo: Amazing Events (Html+css+js)</p>
<p>Proyecto: https://github.com/DarioJavierCamacho/Js-Task1.git</p>
<p>Fecha de inicio: 14-02-2023</p>
<p>Fecha de finalizacion: 13-03-2023</p>