<h3 class="text-center mb-5">Proyectos</h3>

<div class="container d-flex flex-row gap-5 flex-wrap justify-content-center">
    <div class="card col-md-4 bg-transparent text-light border border-light">
        <div class="card-body">
            <h5 class="card-title">Portfolio Argentina programa</h5>
            <p class="card-text">Proyecto: https://github.com/DarioJavierCamacho/Portfolio-frontend.git</p>
            <p class="card-text">Fecha de inicio: 10-02-2022</p>
            <p class="card-text">Fecha de finalizacion: 30-10-2022</p>
        </div>
    </div>
    <div class="card col-md-4 bg-transparent text-light border border-light">
        <div class="card-body">
            <h5 class="card-title">Backend Portfolio Dario Camacho</h5>
            <p>Proyecto: https://github.com/DarioJavierCamacho/Portfolio-Backend.git</p>
            <p>Fecha de inicio: 10-02-2022</p>
            <p>Fecha de finalizacion: 30-10-2022</p>
        </div>
    </div>
    <div class="card col-md-4 bg-transparent text-light border border-light">
        <div class="card-body">
            <h5 class="card-title"> Challenge clone burger king (4hs)</h5>
            <p>Proyecto: https://github.com/DarioJavierCamacho/BootstrapChallenge.git</p>
            <p>Fecha de inicio: 09-02-2023</p>
            <p>Fecha de finalizacion: 09-02-2023</p>
        </div>
    </div>
    <div class="card col-md-4 bg-transparent text-light border border-light">
        <div class="card-body">
            <h5 class="card-title">Amazing Events (Html+css+js)</h5>
            <p>Proyecto: https://github.com/DarioJavierCamacho/Js-Task1.git</p>
            <p>Fecha de inicio: 14-02-2023</p>
            <p>Fecha de finalizacion: 13-03-2023</p>
        </div>
    </div>
</div>
