<h3 class="text-center mb-5">Experiencia</h3>
<div class="container d-flex flex-row gap-5 justify-content-center">
    <div class="card col-md-4 bg-transparent text-dark border border-dark">
        <div class="card-body">
            <h5 class="card-title">Tecnico Reparador de celulares</h5>
            <p class="card-text">Establecimiento: Nextel Communications Arg</p>
            <p class="card-text">Fecha de inicio: 03-03-2016</p>
            <p class="card-text">Fecha de finalizacion: 03-12-2018</p>
        </div>
    </div>
</div>