<h3>Hard skills</h3>
<div class="hard-container d-flex flex-row justify-content-around w-100">
    <ul class="hard px-5">
        <li>Html</li>
        <li>Css</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Java</li>
        <li>C/C++</li>
        <li>SQL</li>
        <li>Git/GitHub</li>
    </ul>
    <ul class="hard px-5">
        <li>ANGULAR</li>
        <li>SPRINGBOOT</li>
        <li>JPA + HIBERNATE</li>
        <li>MYSQL</li>
        <li>SCRUM</li>
        <li>METODOLIGIAS AGILES</li>
        <li>MODELO MVC</li>
        <li>Vue</li>
        <li>React</li>
    </ul>
    <ul>
    <li>INGLES AVANZADO</li>
    <li>MICROSOFT OFFICE</li>
    <li>WINDOWS/LINUX AVANZADO</li>
    </ul>
</div>
<h3>Soft Skills</h3>
<div class="soft-container d-flex flex-row justify-content-start">
    <ul class="soft">
        <li>Flexibilidad y adaptación a los cambios</li>
        <li>Capacidad de comunicación</li>
        <li>Resolución de problemas</li>
        <li>Responsabilidad y compromiso</li>
        <li>Trabajo en equipo</li>
    </ul>
</div>