<h3 class="text-center mb-5">Hard skills</h3>
<div class="container d-flex flex-row gap-5 justify-content-center">   
    <div class="card col-md-4 bg-transparent text-dark border border-dark">
        <div class="card-body">
            <ul class="hard px-5">
                <li>Html</li>
                <li>Css</li>
                <li>Javascript</li>
                <li>Typescript</li>
                <li>Java</li>
                <li>C/C++</li>
                <li>SQL</li>
                <li>Git/GitHub</li>
            </ul>
        </div>
    </div>
    <div class="card col-md-4 bg-transparent text-dark border border-dark">
        <div class="card-body">
            <ul class="hard px-5">
                <li>ANGULAR</li>
                <li>SPRINGBOOT</li>
                <li>JPA + HIBERNATE</li>
                <li>MYSQL</li>
                <li>SCRUM</li>
                <li>METODOLIGIAS AGILES</li>
                <li>MODELO MVC</li>
                <li>Vue</li>
                <li>React</li>
            </ul>
        </div>
    </div>
    <div class="card col-md-4 bg-transparent text-dark border border-dark">
        <div class="card-body">
            <ul class="hard px-5">
                <li>INGLES AVANZADO</li>
                <li>MICROSOFT OFFICE</li>
                <li>WINDOWS/LINUX AVANZADO</li>
            </ul>
        </div>
    </div>
</div>


<h3 class="text-center my-5">Soft Skills</h3>
<div class="container d-flex flex-row gap-5 justify-content-center">
    <div class="card col-md-4 bg-transparent text-dark border border-dark">
        <div class="card-body">
            <ul class="soft">
                <li>Flexibilidad y adaptación a los cambios</li>
                <li>Capacidad de comunicación</li>
                <li>Resolución de problemas</li>
                <li>Responsabilidad y compromiso</li>
                <li>Trabajo en equipo</li>
            </ul>
        </div>
    </div>
</div>
